.modal-wrap {
    position: fixed;
    border: 1px solid #e5e4e5;
    border-radius: 16px;
    background-color: white;
    padding: 34px 40px;
    width: 662px;
    max-height: 95vh;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    z-index: 20;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}

.modal-wrap::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.modal-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-select-wrap {
    position: relative;
}

.icon-select-wrap .item-wrap {
    width: 144px;
}

.modal-first-name .item-wrap {
    width: 408px;
}

.modal-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-today-time-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-today-time-container .item-wrap {
    width: 144px;
    margin-right: 10px;
}

.modal-today-time-container .time-range {
    margin-right: 10px;
}

.modal-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-icon-control-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-icon-control-wrap.item-wrap {
    padding: 0;
}

.radio-wrap {
    width: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-wrap label {
    width: inherit;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-wrap:first-child label {
    border-radius: 12px 0 0 12px;
}

.radio-wrap:last-child label {
    border-radius: 0 12px 12px 0;
}

.radio-wrap input[type="radio"] {
    display: none;
}

.radio-wrap input[type="radio"]:checked + label {
    background-color: #E5E5E5;
}

.radio-wrap > label > i {
    margin-right: 8px;
}

.modal-start-datetime-wrap.item-wrap,
.modal-end-datetime-wrap.item-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 276px;
    padding-right: 28px;
}

.datetime-seperator {
    position: absolute;
    top: 18px;
    right: 90px;
    font-size: 28px;
    font-weight: 400;
    color: #E5E5E5;
}

.modal-save-wrap {
    display: flex;
    justify-content: flex-end;
}

/* Modal type: 상세 일정 입력 */
#modal-basic .modal-header-title::after {
    content: "상세 일정 입력";
}

#modal-basic .modal-icon-control-container,
#modal-basic .modal-second-name,
#modal-basic .modal-info-wrap,
#modal-basic .modal-tnum-wrap,
#modal-basic .modal-time-container {
    display: none;
}

#modal-basic .modal-first-name > label::after {
    content: "이름";
}

/* Modal type: 교통 일정 입력 */
#modal-airplane .modal-header-title::after,
#modal-train .modal-header-title::after,
#modal-bus .modal-header-title::after,
#modal-others .modal-header-title::after {
    content: "교통 일정 입력";
}

#modal-airplane .modal-icon-wrap,
#modal-train .modal-icon-wrap,
#modal-bus .modal-icon-wrap,
#modal-others .modal-icon-wrap,
#modal-airplane .modal-today-wrap,
#modal-train .modal-today-wrap,
#modal-bus .modal-today-wrap,
#modal-others .modal-today-wrap,
#modal-airplane .modal-today-time-container,
#modal-train .modal-today-time-container,
#modal-bus .modal-today-time-container,
#modal-others .modal-today-time-container {
    display: none;
}

#modal-airplane .modal-title-container,
#modal-train .modal-title-container,
#modal-bus .modal-title-container,
#modal-others .modal-title-container {
    display: block;
}

#modal-airplane .modal-first-name .item-wrap,
#modal-train .modal-first-name .item-wrap,
#modal-bus .modal-first-name .item-wrap,
#modal-others .modal-first-name .item-wrap,
#modal-airplane .modal-second-name .item-wrap,
#modal-train .modal-second-name .item-wrap,
#modal-bus .modal-second-name .item-wrap,
#modal-others .modal-second-name .item-wrap {
    width: 276px;
}

#modal-airplane .modal-start-container > label::after,
#modal-train .modal-start-container > label::after,
#modal-bus .modal-start-container > label::after,
#modal-others .modal-start-container > label::after {
    content: "출발시간";
}

#modal-airplane .modal-end-container > label::after,
#modal-train .modal-end-container > label::after,
#modal-bus .modal-end-container > label::after,
#modal-others .modal-end-container > label::after {
    content: "도착시간";
}

#modal-airplane .modal-first-name > label::after {
    content: "출발공항";
}

#modal-airplane .modal-second-name > label::after {
    content: "도착공항";
}

#modal-airplane .modal-info-wrap > label::after {
    content: "항공편명 / 항공사"
}

#modal-airplane .modal-tnum-wrap > label::after {
    content: "예약번호"
}

#modal-train .modal-first-name > label::after {
    content: "출발역";
}

#modal-train .modal-second-name > label::after {
    content: "도착역";
}

#modal-train .modal-info-wrap > label::after {
    content: "열차"
}

#modal-train .modal-tnum-wrap > label::after {
    content: "좌석번호"
}

#modal-bus .modal-first-name > label::after {
    content: "출발터미널";
}

#modal-bus .modal-second-name > label::after {
    content: "도착터미널";
}

#modal-bus .modal-info-wrap > label::after {
    content: "버스회사"
}

#modal-bus .modal-tnum-wrap > label::after {
    content: "좌석번호"
}

#modal-others .modal-first-name > label::after {
    content: "출발지";
}

#modal-others .modal-second-name > label::after {
    content: "도착지";
}

#modal-others .modal-info-wrap > label::after {
    content: "이동수단"
}

#modal-others .modal-tnum-wrap {
    display: none;
}

/* Modal type: 숙박 일정 입력 */
#modal-lodging .modal-header-title::after {
    content: "숙박 일정 입력";
}

#modal-lodging .modal-icon-control-container,
#modal-lodging .modal-second-name,
#modal-lodging .modal-today-wrap,
#modal-lodging .modal-today-time-container {
    display: none;
}

#modal-lodging .modal-first-name > label::after {
    content: "숙소명"
}

#modal-lodging .modal-info-wrap > label::after {
    content: "예약사이트";
}

#modal-lodging .modal-tnum-wrap > label::after {
    content: "예약번호";
}

#modal-lodging .modal-start-container > label::after {
    content: "체크인";
}

#modal-lodging .modal-end-container > label::after {
    content: "체크아웃";
}

.item-wrap {
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 0 22px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    margin-bottom: 24px;
    cursor: pointer;
}

.select-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-icon .item-wrap {
    width: 144px;
}

.item-icon .item-wrap i {
    width: 30px;
    height: 30px;
}

.item-title .item-wrap {
    width: 408px;
}

.item-title input {
    display: block;
}

.icon-placeholder {
    opacity: 50%;
}

.icon-option-wrap {
    width: 226px;
    padding: 22px 24px 18px 24px;
    position: absolute;
    left: 0;
    top: 72px;
    z-index: 30;
}

.icon-option-wrap header {
    font-family: "Gmarket Sans";
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 14px;
}

.icon-option-wrap ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icon-set {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.icon-set i {
    width: 28px;
    height: 28px;
}

/* 상세 일정 입력 - 시간 선택 */
.select-time-wrap.item-wrap {
    position: relative;
    display: flex;
    align-items: center;
    
}

.select-time-wrap > select {
    width: inherit;
    z-index: 10;
    cursor: pointer;
}

.select-time-wrap .select-time-icon {
    position: absolute;
    top: 20px;
    right: 16px;
}

/* 상세 일정 입력 - 시간 입력 checkbox */
.time-check-wrap input[type="checkbox"] {
    display: none;
}

.time-check-wrap input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.time-check-wrap input[type="checkbox"] + label .time-check-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 2px solid #9E9E9E;
    border-radius: 6px;
    cursor: pointer;
}

.time-check-wrap input[type="checkbox"] + label span {
    font-weight: 600;
    margin-left: 10px;
}

.time-check-wrap input[type="checkbox"]:checked + label .time-check-icon {
    background-color: #ff9090;
    border: 2px solid #ff9090;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-wrap::placeholder {
    color: #9e9e9e;
    position: absolute;
    top: 22px;
}

.edit-item-save-btn {
    margin-top: 6px;
}

.modal-btn {
    display: flex;
    justify-content: flex-end;
}

/* 메인화면 modal 01: 여행 생성 */
.modal-wrap.create-trip-modal {
    height: 400px;
    overflow: visible;
}

.item-wrap.select-date {
    position: relative;
    width: 276px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.placeholder {
    position: absolute;
    top: 24px;
    font-weight: 700;
    color: #9E9E9E;
}

.modal-trip-date-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-trip-modal button {
    margin-top: 6px;
}

/* 메인화면 modal 02: 여행 링크 복사 */
.modal-wrap.modal-copy-link {
    width: 800px;
    border: 3px solid #ff9090;
    height: auto;
    text-align: center;
    padding: 46px 40px 42px 40px;
}

.copy-link-title-wrap {
    position: relative;
    display: flex;
    margin-bottom: 28px;
}

.copy-link-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Gmarket Sans";
    font-weight: 700;
    font-size: 28px;
}

.copy-link-body {
    font-family: "Gmarket Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px;
}

.item-wrap.trip-link-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px 6px 22px;
    cursor: auto;
    margin-bottom: 12px;
}

.copy-link-done {
    display: block;
    position: absolute;
    font-size: 13px;
    font-weight: 700;
    color: #ff9090;
    margin-left: 20px;
}

.btn-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

#highlight {
    color: #ff9090;
}
